@{
    ViewData["Title"] = "Add Task";
}


@model TaskModel

<h1>Add Task</h1>

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (CategoryModel c in ViewBag.Tasks)
            {
            <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select><br />

        <label asp-for="TaskText">Task Text:</label>
        <input asp-for="TaskText"  /> <br />

        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" /> <br />

        <label asp-for="Quadrant">Quadrant:</label> 
        <select>
            <option value="1">Urget/Important</option>
            <option value="2">Important/Not Urgent</option>
            <option value="3">Not Important/Urgent</option>
            <option value="4">Not Important/Not Urgent</option>
        </select><br />

        <label asp-for="Completed">Completed:</label>
        <select asp-for="Completed">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select> <br />

        <button type="submit">Add Task</button>
    </form>
</div>
