@{
    ViewData["Title"] = "Delete Task";
}

@model TaskModel

<h2>Confirm Deletion</h2>
<h2>Are you sure you want to delete the record for @Model.TaskText?</h2>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="ViewTasks" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="TaskId" />
</form>