@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Time Managment Matrix</h1>
    <p>Learn about Steven Covey's <a href="https://humanskills.blog/time-management-matrix/">matrix</a> and how to implement it.</p>
    <img src="~/img/Covey.jpg" height="400" />
</div>
